@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-primary text-secondary font-quicksand font-normal m-0 select-none;
  background-image: url('/src/assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 3rem;
}

::-webkit-scrollbar-track {
  @apply bg-opacity-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent-700 bg-opacity-70;
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-500 bg-opacity-70;
}
