@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=block');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-primary text-secondary-500 font-quicksand font-normal m-0 select-none;
  background-image: url('/src/assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

b {
  @apply font-semibold;
}

::-webkit-scrollbar {
  @apply w-1 md:w-2 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-opacity-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent-700 bg-opacity-70 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-500 bg-opacity-70;
}
